---
- name: pull down the newest image
  docker_image:
    name: quay.io/ibm-avocados/docker-fix-default-storage-class
    source: pull

- name: run the container
  docker_container:
    name: fix-default-storage-class-{{ 99999999 | random | to_uuid }}
    image: "quay.io/ibm-avocados/docker-fix-default-storage-class"
    detach: no
    entrypoint: /scripts/run.sh {{ ibmcloud_api_key }} {{ cluster_id }} 
